#LeftSidebar {
  flex: 0 0 4rem;
  background-color: var(--color-background-sidebar);

  .main-menu {
    .Button {
      border-radius: 0;
    }

    .Menu .bubble {
      min-width: 17rem;
      max-height: calc(100* var(--vh) - 3.75rem);
      overflow-y: auto;
    }
  }

}
